package controllers;

import java.util.List;
import ${entity.package}.${entity.name};
import play.mvc.Controller;
import play.i18n.Messages;
import play.data.validation.Validation;
import play.data.validation.Valid;
#{if includeLogin}
import play.mvc.With;

@With(Secure.class)
#{/if}
public class ${entity.controllerName} extends Controller {
	public static void index() {
		List<${entity.name}> entities = ${entity.name}.all().fetch();
		render(entities);
	}

	public static void create(${entity.name} entity) {
		render(entity);
	}

	public static void show(Long id) {
		${entity.name} entity = ${entity.name}.findById(id);
		render(entity);
	}

	public static void edit(Long id) {
		${entity.name} entity = ${entity.name}.findById(id);
		render(entity);
	}

	public static void delete(Long id) {
		${entity.name} entity = ${entity.name}.findById(id);
		entity.delete();
		index();
	}
	
	public static void save(@Valid ${entity.name} entity) {
		if (validation.hasErrors()) {
			flash.error(Messages.get("scaffold.validation"));
			render("${entity.controllerName}/create.html", entity);
		}
		entity.save();
		flash.success(Messages.get("scaffold.created", "${entity.name}"));
		index();
	}

	public static void update(@Valid ${entity.name} entity) {
		if (validation.hasErrors()) {
			flash.error(Messages.get("scaffold.validation"));
			render("${entity.controllerName}/edit.html", entity);
		}
		entity = entity.merge();
		entity.save();
		flash.success(Messages.get("scaffold.updated", "${entity.name}"));
		index();
	}

}