package controllers;

import java.util.List;
import ${entity.package}.${entity.name};
import play.mvc.Controller;
import play.i18n.Messages;
import play.data.validation.Validation;
import play.data.validation.Valid;
import play.db.jpa.JPA;
#{if includeLogin}
import play.mvc.With;

@With(Secure.class)
#{/if}
public class ${entity.controllerName} extends Controller {
	public static void index() {
		List<${entity.name}> entities = JPA.em().createQuery("FROM " + ${entity.name}.class.getSimpleName()).getResultList();
		render(entities);
	}

	public static void create(${entity.name} entity) {
		render(entity);
	}

	public static void show(${entity.name} entity) {
		render(entity);
	}

	public static void edit(${entity.name} entity) {
		render(entity);
	}

	public static void delete(${entity.name} entity) {
		entity = JPA.em().merge(entity); // reattach
		JPA.em().remove(entity); // remove
		index();
	}
	
	public static void save(${entity.name} entity) {
		if (validation.hasErrors()) {
			flash.error(Messages.get("scaffold.validation"));
			render("${entity.controllerName}/create.html", entity);
		}
		JPA.em().persist(entity);
		flash.success(Messages.get("scaffold.created", "${entity.name}"));
		index();
	}

	public static void update(${entity.name} entity) {
		if (validation.hasErrors()) {
			flash.error(Messages.get("scaffold.validation"));
			render("${entity.controllerName}/edit.html", entity);
		}
		JPA.em().merge(entity);
		flash.success(Messages.get("scaffold.updated", "${entity.name}"));
		index();
	}

}