<!DOCTYPE html>
<html>
    <head>
        <title>${tagOpen}get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="${actionOpen}'/public/stylesheets/default.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="${actionOpen}'/public/stylesheets/main.css'}">
        <link rel="stylesheet" type="text/css" media="screen" href="${actionOpen}'/public/stylesheets/jquery-ui-1.8.2.custom.css'}">
        ${tagOpen}get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="${actionOpen}'/public/images/favicon.png'}">
        <script src="${actionOpen}'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="${actionOpen}'/public/javascripts/jquery-ui-1.8.2.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
        ${tagOpen}get 'moreScripts' /}
    </head>
    <body>
		<div id="header"> 
		     <a class="title" href="${actionOpen}Application.index}">~ ${applicationName} ~</a>
		</div>
		<div id="content-container">
      <div id="menu">
        #{if includeLogin}
        <span style="float:right;">
          ${tagOpen}if session.get("username") == null}
          <a href="/login">Login</a>
          ${tagOpen}/if}
          ${tagOpen}else}
          <a href="/logout">Logout</a>
          ${tagOpen}/else}
        </span>
        #{/if}
      </div>
			<div id="content">
		        ${tagOpen}if flash.error}
		            <div class="fError">
		                <strong>${exprOpen}play.i18n.Messages.get(flash.error)}</strong>
		            </div>
		        ${tagOpen}/if}
		        ${tagOpen}if flash.success}
		            <div class="fSuccess">
		                <strong>${exprOpen}play.i18n.Messages.get(flash.success)}</strong>
		            </div>
		        ${tagOpen}/if}
				
		        ${tagOpen}doLayout /}
		    </div>
		</div>
		<div id="footer">
			<script type="text/javascript"> 
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			//TODO: add Google Analytics tracking ID and uncomment
			//try {
			//var pageTracker = _gat._getTracker("YOUR_TRACKING_ID");
			//pageTracker._trackPageview();
			//} catch(err) {}
			</script>
		</div>
    </body>
</html>