	#{list items:entity.formElements, as:'elem'}
		<div class="row">
			<div class="label">
				${elem.name}
			</div>
			<div class="field">
				%{ if (elem.isCheckbox()) { }%
					<input type="checkbox" name="entity.${elem.name}" ${entity.expressionOpen}entity?.${elem.name} ? 'checked' : ''} />
				%{ } else if (elem.isDate()) { }%
					<script type="text/javascript">
						$(function() {
							$("#entity_${elem.name}").datepicker({ dateFormat: 'yy-mm-dd' } );
						});
					</script>
					<!-- TODO: date format needs to come from application.conf -->
					<input id="entity_${elem.name}" type="text" name="entity.${elem.name}" value="${entity.expressionOpen}entity?.${elem.name}?.format('yyyy-MM-dd')}" size="10" />
				%{ } else if (elem.isSelect()) { }%
					<select name="entity.${elem.name}">
						#{list elem.options, as: 'option'}
							<option value="${option}" 
								${entity.expressionOpen}(entity?.${elem.name}?.name() == "${option}") ? 'selected' : ''}>${option}</option>
						#{/list}
					</select>
				%{ } else if (elem.isTextArea()) { }%
					<textarea name="entity.${elem.name}" rows="10" cols="40">${entity.expressionOpen}entity?.${elem.name}}</textarea>
				%{ } else { }%
					<input type="text" name="entity.${elem.name}" value="${entity.expressionOpen}entity?.${elem.name}}"/>
				%{ } }%
			</div>
			<span class="error">${entity.expressionOpen}errors.forKey('entity.${elem.name}')}</span>
		</div>
	#{/list}
