	#{list items:entity.formElements, as:'elem'}
		<div class="row">
			<div class="label">
				#{ifnot elem.isHidden()}
					${elem.name}
				#{/ifnot}
			</div>
			<div class="field">
				#{if elem.isCheckbox() }
					<input type="checkbox" name="entity.${elem.name}"
						#{generateExpression entity:elem.name, expr:'entity?.$1 ? \'checked\':\'\'' /}
					/>
				#{/if}
				#{elseif elem.isDate()}
					<script type="text/javascript">
						$(function() {
							$("#${elem.name}").datepicker({ dateFormat: 'yy-mm-dd' } );
						});
					</script>
					<!-- TODO: date format needs to come from application.conf -->
					<input id="${elem.name}" type="text" name="entity.${elem.name}" 
						value="#{generateExpression entity:elem.name, expr:'entity?.$1?.format(\'yyyy-MM-dd\')' /}"
						size="10" />
				#{/elseif}
				#{elseif elem.isSelect()}
					<select name="entity.${elem.name}">
						#{list elem.options, as: 'option'}
							<option value="${option}" 
								#{generateExpression entity:[elem.name,option], expr:'(entity?.$1?.name() == \'$2\') ? \'selected\':\'\'' /}>${option}</option>
						#{/list}
					</select>
				#{/elseif}
				#{elseif elem.isRelation()}
				  #{if elem.isMultiple()}
	          <select name="entity.${elem.name}.id" multiple>
	          ${"%{"} ${play.modules.scaffold.generator.DatabaseAccessScaffolding.allFor(elem.fieldType)}.sort{ it.toString() }.each() { }%
	            %{ String idField = play.modules.scaffold.generator.DatabaseAccessScaffolding.entityFor(elem.fieldType).idField %}
	            ${"%{"}
	              selected = false;
	              entity?.${elem.name}.each() { f ->
	                if (f.id == it?.id)
	                  selected = true;
	              }
	            }%
	            <option value="#{generateExpression entity:idField, expr:'it?.$1'/}" #{generateExpression expr:'selected ? \'selected\'.raw() : \'\''/}>#{generateExpression entity:'it', expr:'$1'/}</option>
	          ${"%{"} } }%
	          </select>
				  #{/if}
				  #{else}
	          <select name="entity.${elem.name}.id">
	                #{ifnot elem.isRequired()}
	                        <option value="">&{'scaffold.none'}</option>              
	                #{/ifnot}
	          ${"%{"} ${play.modules.scaffold.generator.DatabaseAccessScaffolding.allFor(elem.fieldType)}.sort{ it.toString() }.each() { }%
	            %{ String idField = play.modules.scaffold.generator.DatabaseAccessScaffolding.entityFor(elem.fieldType).idField %}
	            ${"%{"}
	              selected = false;
	              if (entity?.${elem.name}?.${idField} == it.id) {
	                selected = true
	              }
	            }%
	            <option value="#{generateExpression entity:idField, expr:'it?.$1'/}" #{generateExpression expr:'selected ? \'selected\'.raw() : \'\''/}>#{generateExpression entity:'it', expr:'$1'/}</option>
	          ${"%{"} } }%
	          </select>
				  #{/else}
				#{/elseif}
				#{elseif elem.isTextArea()}
					<textarea name="entity.${elem.name}" rows="10" cols="40">#{generateExpression entity:elem.name, expr:'entity?.$1' /}</textarea>
				#{/elseif}
        #{elseif elem.isPassword()}
          <input type="password" name="entity.${elem.name}" value="#{generateExpression entity:elem.name, expr:'entity?.$1' /}"/>
        #{/elseif}
				#{elseif elem.isHidden()}
					<input type="hidden" name="entity.${elem.name}" value="#{generateExpression entity:elem.name, expr:'entity?.$1' /}"/>
				#{/elseif}
				#{else}
					<input type="text" name="entity.${elem.name}" value="#{generateExpression entity:elem.name, expr:'entity?.$1' /}"/>
				#{/else}
			</div>
			<span class="error">#{generateExpression entity:elem.name, expr:'errors.forKey(\'entity.$1\')' /}</span>
		</div>
	#{/list}
