${play.modules.scaffold.utils.Tags.openTemplateTag}extends 'main.html' /}

<h2>Edit ${entity.name}</h2>

<div class="entity">
${play.modules.scaffold.utils.Tags.openTemplateTag}form @${entity.controllerName}.update(), id:'createForm'}
	${play.modules.scaffold.utils.Tags.openTemplateTag}include '${entity.controllerName}/_form.html' /}
	<input type="submit" name="submit" value="Save" />
${play.modules.scaffold.utils.Tags.openTemplateTag}/form}
</div>

<a href="${play.modules.scaffold.utils.Tags.openActionTag}${entity.controllerName}.index}">Cancel</a>